# W3TC - W3 Total Cache
w3tc-config/
cache/
mobile/cache

# visual studio code
.vscode/*

# Env
.htaccess
.gitkeep

node_modules
#bower_components
.sass-cache

##########################
*.log
*.sql
*.sh
readme.md
license.txt
yarn.lock
LICENSE
LICENSE.text
README.md
README.txt
readme.txt# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json

.firebase/