@import '../../assets/styles/variables';

.link {
    position: relative;
    text-decoration: none;
    color: $pale-yellow;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    padding: 0 12px 0 20px;
    display: flex;
    align-items: center;

    &:before {
        transition: height .3s;
        content: '';
        background-color: $pale-yellow;
        width: 4px;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
    }

    &:hover {

        &:before {
            height: 100%;
        }
    }

    &:global(.active) {
        
        &:before {
            height: 100%;
        }
    }
}

