@import '../../assets/variables';

.list {
    display: flex;
    align-items: center;
    margin: 0 -12px;
}

.item {
    padding: 0 12px;
}

.link {
    position: relative;
    text-decoration: none;
    color: $pale-yellow;
    font-size: 18px;
    font-weight: bold;

    &:before {
        transition: width .3s;
        content: '';
        height: 2px;
        background-color: $pale-yellow;
        width: 0;
        display: block;
        position: absolute;
        left: 0;
        top: calc(100% + 2px);
    }

    &:hover {

        &:before {
            width: 100%;
        }
    }
}

:global {
    .active {
        
        &:before {
            width: 100%;
        }
    }
}