@import '../../../assets/styles/variables';

.header {
    background-color: $royal-blue;
    flex-shrink: 1;
    width: 100%;

    &_inner {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}