

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font: 16px $base-font-family;
}

ul {
    padding: 0;
    list-style: none;
}