// fonts
$base-font-family: 'Alef', sans-serif;
$logo-font-family: 'Righteous', cursive;

// colors
$royal-blue: #234e70;
$dark-blue: #223e53;
$black: #050f18;
$pale-yellow: #fbf8be;

$main-color: $royal-blue;
$add-color: $pale-yellow;
$main-text-color: $black;